In [50]:
import pandas as pd

In [8]:
df = pd.read_csv('Pokemon.csv', index_col='#')

### Type 1 の度数分布とヒストグラムを分析する

In [45]:
base_df = pd.DataFrame(df['Type 1'].value_counts()).rename(columns={'Type 1': 'total'})
display(base_df.shape)
base_df

(18, 1)

          total
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4

### 度数分布表を作成する

以下の階級に区切る
- 1~20
- 21~40
- 41~60
- 61~80
- 81~100
- 100~

In [43]:
bin_sr = pd.cut(base_df['total'], [0, 20, 40, 60, 80, 100, 120], right=False, include_lowest=False)
display(bin_sr)

Water       [100, 120)
Normal       [80, 100)
Grass         [60, 80)
Bug           [60, 80)
Psychic       [40, 60)
Fire          [40, 60)
Rock          [40, 60)
Electric      [40, 60)
Ghost         [20, 40)
Ground        [20, 40)
Dragon        [20, 40)
Dark          [20, 40)
Poison        [20, 40)
Steel         [20, 40)
Fighting      [20, 40)
Ice           [20, 40)
Fairy          [0, 20)
Flying         [0, 20)
Name: total, dtype: category
Categories (6, interval[int64]): [[0, 20) < [20, 40) < [40, 60) < [60, 80) < [80, 100) < [100, 120)]

### 階級値をもとめる

階級値は、階級の真ん中の値になる。

In [41]:
ranks = bin_sr.unique()
rank_val_sr = pd.Series(ranks).apply(lambda x: (x.right + x.left)/2)
rank_val_sr.index = ranks
display(rank_val_sr.sort_index())

[0, 20)        10.0
[20, 40)       30.0
[40, 60)       50.0
[60, 80)       70.0
[80, 100)      90.0
[100, 120)    110.0
dtype: category
Categories (6, float64): [10.0 < 30.0 < 50.0 < 70.0 < 90.0 < 110.0]

### 度数を求める

度数は、各階級の出現頻度

In [39]:
bin_sr.value_counts().sort_index()

[0, 20)       2
[20, 40)      8
[40, 60)      4
[60, 80)      2
[80, 100)     1
[100, 120)    1
Name: total, dtype: int64

### 相対度数を求める

各階級の度数が全体に占める割合

In [49]:
relative_frequencies = bin_sr.value_counts().sort_index() / bin_sr.shape[0]
relative_frequencies

[0, 20)       0.111111
[20, 40)      0.444444
[40, 60)      0.222222
[60, 80)      0.111111
[80, 100)     0.055556
[100, 120)    0.055556
Name: total, dtype: float64

### 累積相対度数

相対度数の累積和。

In [51]:
relative_frequencies.cumsum()

[0, 20)       0.111111
[20, 40)      0.555556
[40, 60)      0.777778
[60, 80)      0.888889
[80, 100)     0.944444
[100, 120)    1.000000
Name: total, dtype: float64

refs
- https://bellcurve.jp/statistics/course/1625.html