In [21]:
import numpy as np
import pandas as pd

In [11]:
price_df = pd.DataFrame([
    {'item': 'Good A', '2017': 5, '2018': 10, '2019': 7},
    {'item': 'Good B', '2017': 10, '2018': 12, '2019': 13},
    {'item': 'Good C', '2017': 20, '2018': 25, '2019': 24}
]).set_index('item')
price_df

        2017  2018  2019
item
Good A     5    10     7
Good B    10    12    13
Good C    20    25    24

In [12]:
quantity_df = pd.DataFrame([
    {'item': 'Good A', '2017': 100, '2018': 125, '2019': 150},
    {'item': 'Good B', '2017': 200, '2018': 225, '2019': 250},
    {'item': 'Good C', '2017': 300, '2018': 325, '2019': 350}
]).set_index('item')
quantity_df

        2017  2018  2019
item
Good A   100   125   150
Good B   200   225   250
Good C   300   325   350

### Laspeyres Price Index

$$ P_L = \frac{\sum^n_{i=1} p_{ti} q_{0i}}{\sum^n_{i=1} p_{0i} q_{0i}} \times 100 $$

- $ p_{0i} $：price of a base year
- $ q_{0i} $：quantity of a base year
- $ p_{ti} $：price of a target year.

In [18]:
base_year = '2017'
target_year = '2017'
np.sum(price_df[target_year].values * quantity_df[base_year].values.T) / np.sum(price_df[base_year].values * quantity_df[base_year].values.T) * 100

100.0

In [19]:
base_year = '2017'
target_year = '2018'
np.sum(price_df[target_year].values * quantity_df[base_year].values.T) / np.sum(price_df[base_year].values * quantity_df[base_year].values.T) * 100

128.23529411764707

In [20]:
base_year = '2017'
target_year = '2019'
np.sum(price_df[target_year].values * quantity_df[base_year].values.T) / np.sum(price_df[base_year].values * quantity_df[base_year].values.T) * 100

123.52941176470588